In [1]:
#Rewrite this so total equals 10.
#total = "4" + 6
total= 4 + 6
print(total)

10

In [3]:
#What is the value of third_number?
#first_number = 5
#second_number = 6
#third_number = first_number * second_number
#my ans is 30
first_number = 5
second_number = 6
third_number = first_number * second_number
print(third_number)

30

In [6]:
#Divide 12 by the decimal .5 and assign the result to the variable outcome
outcome = 12 / .5
print(outcome)

24.0

In [7]:
#Subtract one number from another and assign the result to a variable. Make up the numbers and the variable name.
num = 1250
num_02 = 1500
answer = num - num_02
print(answer)

-250

In [9]:
#Divide one variable by another and assign the result to a third variable. Make up the variable names.
left = 36
right = 12
height = left // right
print(height)

3

In [10]:
#Subtract a variable from a number and assign the result to a second variable. Make up the variable names and the number.
sun = 2550
light = 1550
moon = sun - light
print(moon)

1000

In [13]:
#Multiply a variable by itself and assign the result to the same variable. Make up the variable name.
grow = 15
grow = grow * grow
print(grow)

225

In [14]:
#Multiply three numbers and assign the result to a variable. Make up the numbers and the variable name.
a = 25
b = 75
c = 45
result = a * b * c
print(result)

84375

In [15]:
#In one line of code, display the result of multiplying two variables. Make up the variable names.
line_one = 25
line_02 = 50
print(line_one * line_02)

1250

In [16]:
#Assign a number to a variable, and another number to a second variable. Multiply the two, using the variables. Assign the result to a third variable. Display the result using the third variable.
#Click the Run button    above your code. If you've coded correctly, the result of the multiplication will display in the right-hand panel.
value = 56
value02 = 50
result = value * value02
print(result)

2800

In [17]:
#In a single line of code, divide one number by another and display the result.
#Click the Run button    above your code. If you've coded correctly, the result of the division operation will display in the right-hand panel.
print(150/5)

30.0